<h1>New Product</h1>

<%= form_tag "/products", method: :post do %>
  <div>
    name: <input type="text" name="name">
  </div>
  <div>
    price: <input type="text" name="price">
  </div>
  <div>
    description: <input type="text" name="description">
  </div>
  <div>
    Image: <input type="text" name="image">
  </div>
  <div>
    <input type="submit" name="Create">
  </div>
<% end %>